/*Home Page*/
.headImg{
  margin-left: 30%;
}
.bodyId{
  background-image: linear-gradient(white, red);
}
.adapImg{
  width: 275px;
  height: 325px;
}
.pain{
  margin: 0px 23%;
  background-image:linear-gradient(rgb(229, 215, 215), rgb(255, 0, 0))
}
#smaller{
  width:129.5px;
}

/*Adaptation Page*/
.adaptationBoxes{
  width: 600px;
  height: 375px;
  padding: 15px;
  margin: 15px 35px;
  text-align: center;
  float: left;
  background-image:linear-gradient(rgb(252, 226, 226), red);
}
.fullAdaptationBox{
  width: 600px;
  height: 620px;
  padding: 15px;
  float:left;
  margin: 15px 35px;
  text-align: center;
  background-image:linear-gradient(white, red);
}

/*Arcs Page*/
.ark{
  margin: 9px 15px;
  margin-left: 3%;
}
.sums{
  margin: 9px 15px;
  margin-left: 3%;
  margin-right: 5%;
}

/*Favorites Page*/
.chaps{
  background-color: rgb(255, 251, 251);
}
#toTheRight{
  float: right;
  margin-right: 7px;
}

/*Tags*/
nav{border-style:solid;
	border-color:black;
	color:white;
	text-align:center;
	padding:0.5% 0%;
	background-color:black;
	background-image:linear-gradient(black, red);
	border-width:3px;
  margin: 0px 3px;
  border-radius: 5px;
}
nav button{
  color:aliceblue;
  background-color: brown;
}
a{
  color:black;
}
nav button:hover{
  color:ghostwhite;
  text-decoration:none;
  font-size:1.15em;
}
li{
  list-style-type: none;
  border-style: solid;
  margin-right:15px;
  margin-top: -2px;
  margin-bottom: -1px;
  border-collapse:collapse;

}
h1{
  text-align: center;
}
p{
  text-align: center;
  margin: 2% 15%;
}
h4{
  text-align: center;
  color:rgb(207, 13, 13)
}
form{
  text-align: right;
  margin-right: 40%;
}
i{
  text-decoration: underline;
  text-align: center;
}